<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device_width, initial-scale=1"> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<h1>Test interface</h1>
<script type=text/javascript>
        $(function() {
          $('a#rotate').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/rotate',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(function() {
          $('a#follow').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/follow',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(function() {
          $('a#look').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/look',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(function() {
          $('a#switch').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/switch',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(function() {
          $('a#disconnect').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/disconnect',
                function(data) {
              //do nothing
            });
            return false;
          });
        });      
</script>

<div class='container'>
    <h3>Test</h3>
        <form>
            <a href=# id=rotate><button class='btn btn-default'>Rotate</button></a>
            <a href=# id=follow><button class='btn btn-default'>Follow</button></a>
            <a href=# id=look><button class='btn btn-default'>Look at</button></a>
            <a href=# id=switch><button class='btn btn-default'>Switch camera</button></a>
            <a href=# id=disconnect><button class='btn btn-default'>Disconnect</button></a>
        </form>

</div>
</body>
</html>